#login {
  align-items: center;
  display: flex;
  height: 650px;
}

#login h2 {
  text-align: center;
}

#header button {
  float: right;
}

#header h2 {
  color: aliceblue;
}

#header {
  background-color: rgb(137, 226, 217);
  padding-top: 10px;
  padding-bottom: 10px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.card {
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 30px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
}

.alert {
  border-radius: 5px;
}

.btn-link {
  color: #007bff;
}

.product-image {
  width: 100px;
  height: auto;
  object-fit: cover;
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.card {
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 2px;
}

.quantity-text {
  width: 20px;
  text-align: center;
}



/* Dark Theme CSS*/
.dark-mode .card {
  background-color: #1e1e1e;
  border-color: #fffdfd;
}

.dark-mode .card-header,
.dark-mode .card-body {
  background-color: #1e1e1e;
  border-color: #ffffff;
}

.dark-mode .table {
  color: #e0e0e0;
}

.dark-mode .btn {
  background-color: #333;
  color: #fff;
  border: none;
}

.dark-mode .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.dark-mode .btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.dark-mode .btn-warning {
  background-color: #ffc107;
  border-color: #ffc107;
  color: #000;
} 



